 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 22px;
  min-height: 1668px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-image-1 {
  height: 560px;
  width: 1081px;
  margin: 0 1px 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 1px;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 20px auto 0 1px;
}

.u-section-1 .u-text-2 {
  margin: 35px auto 0 1px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 35px auto 0 1px;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-image-2 {
  height: 560px;
  width: 1081px;
  margin: 0 1px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 1px;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 20px auto 0 1px;
}

.u-section-1 .u-text-4 {
  margin: 35px auto 0 1px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 35px auto 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 362px;
    width: 450px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -362px;
    margin-left: 490px;
  }

  .u-section-1 .u-metadata-1 {
    width: auto;
    margin-left: 490px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 490px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 490px;
  }

  .u-section-1 .u-image-2 {
    height: 362px;
    width: 450px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -362px;
    margin-left: 490px;
  }

  .u-section-1 .u-metadata-2 {
    width: auto;
    margin-left: 490px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 490px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 253px;
    width: 314px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -253px;
    margin-left: 349px;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 349px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 349px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: 349px;
  }

  .u-section-1 .u-image-2 {
    height: 253px;
    width: 314px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -253px;
    margin-left: 349px;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: 349px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 349px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 29px;
    margin-left: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 243px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 243px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
}