 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 255px;
}

.u-section-1 .u-text-1 {
  width: 803px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 9px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-2 .u-tabs-1 {
  min-height: 952px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-gallery-1 {
  height: 772px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-gallery-inner-1 {
  --gap: 10px;
  grid-template-columns: repeat(3, auto);
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-gallery-2 {
  height: 772px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-gallery-inner-2 {
  --gap: 10px;
  grid-template-columns: repeat(3, auto);
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    height: 629px;
  }

  .u-section-2 .u-gallery-2 {
    height: 629px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    height: 1061px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-gallery-2 {
    height: 1061px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3344px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-2 {
    height: 3344px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    height: 2058px;
  }

  .u-section-2 .u-gallery-2 {
    height: 2058px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 418px;
}

.u-section-3 .u-list-1 {
  width: 994px;
  margin: 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 210px;
  grid-auto-columns: calc(25% - 7.5px);
  --gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 30px 0;
}

.u-section-3 .u-group-elements-1 {
  min-height: 91px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-icon-1 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 30px 0;
}

.u-section-3 .u-group-elements-2 {
  min-height: 91px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-icon-2 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 30px 0;
}

.u-section-3 .u-group-elements-3 {
  min-height: 91px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-icon-3 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 40px 30px 0;
}

.u-section-3 .u-group-elements-4 {
  min-height: 91px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-icon-4 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 199px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-3 .u-list-1 {
    width: 601px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 530px;
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 55px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-elements-3 {
    margin-top: 55px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 0;
    min-height: 72px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 0;
    min-height: 72px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-elements-3 {
    margin-top: 0;
    min-height: 72px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-top: 0;
    min-height: 72px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 12px;
  }
}

.u-section-3 .u-group-elements-1,
.u-section-3 .u-group-elements-1:before,
.u-section-3 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-1.u-group-elements-1.u-group-elements-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-1.u-group-elements-1.u-group-elements-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-2,
.u-section-3 .u-group-elements-2:before,
.u-section-3 .u-group-elements-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-2.u-group-elements-2.u-group-elements-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-2.u-group-elements-2.u-group-elements-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-3,
.u-section-3 .u-group-elements-3:before,
.u-section-3 .u-group-elements-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-3.u-group-elements-3.u-group-elements-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-3.u-group-elements-3.u-group-elements-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-4,
.u-section-3 .u-group-elements-4:before,
.u-section-3 .u-group-elements-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-4.u-group-elements-4.u-group-elements-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-4.u-group-elements-4.u-group-elements-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-position: 50% 86.95%;
  background-repeat: no-repeat;
  background-image: url("images/IMG_5159.jpeg");
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}