 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 255px;
}

.u-section-1 .u-text-1 {
  width: 803px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 9px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 712px;
}

.u-section-2 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 650px;
  --gap: 10px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-image-1 {
  height: 368px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-metadata-1 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-image-2 {
  height: 368px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-metadata-2 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-2 .u-btn-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-image-3 {
  height: 368px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-metadata-3 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-2 .u-btn-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-image-4 {
  height: 368px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-metadata-4 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-2 .u-btn-4 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}